body {
    background-image: url("titlebg.jpg");
    background-repeat: no-repeat;
    background-color: #141415;
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
}

h1 {
    font-variant: small-caps;
    font-size: 48px;
    padding: 0em;
    text-align: center;
}

h2 {
   font-variant: small-caps;
   padding-bottom: 1.5em;
   padding-top: 0em;
   text-align: center;
}

h3 {
   font-variant: small-caps;
   padding: 0.5em;
   text-align: center;
}

a, a:active, a:visited {
    color: #303075;
    font-weight: bold;
    text-decoration: none;
}


div {
    margin: 0px;
}

hr {
    margin: 1em;
    margin-left: 3em;
    margin-right: 3em;
}


li {
    padding: 0.4em;
}

ul {
    list-style: none;
    margin: auto;
    padding: 1em;
}

ul > li:before {
    content: attr(seq) ": ";
    font-weight: bold;
}

p {
    max-width: 72em;
    margin: auto;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: justify;
}

p.short_paragraph {
    text-align: center;
}


.box {
    margin-top: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: rgba(208, 208, 256, 0.9);
    max-width: 56em;
    margin-left: auto;
    margin-right: auto;
}

.linklist {
    font-size: 1em;
    text-align: center;
}
