body {
    background-color: #d0d0c5;
    color: #404050;
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
}

h1 {
    font-variant: small-caps;
    font-size: 48px;
    padding: 0em;
    text-align: center;
}

h2 {
   font-variant: small-caps;
   padding-bottom: 1.5em;
   padding-top: 0em;
   text-align: center;
}

h3 {
   font-variant: small-caps;
   padding: 0.5em;
   text-align: center;
}

a, a:active, a:visited {
    color: #303075;
    font-weight: bold;
    text-decoration: none;
}


#tocbox a, h2 a {
    color: #b0b0c0;
    font-weight: bold;
    text-decoration: none;
}

#tocbox a:active, h2 a:active  {
    color: #b0b0c0;
    font-weight: bold;
    text-decoration: none;
}

#tocbox a:visited, h2 a:visited {
    color: #b0b0c0;
    font-weight: bold;
    text-decoration: none;
} 

div {
    margin: 0px;
}

hr {
    margin: 1em;
    margin-left: 3em;
    margin-right: 3em;
}


li {
    padding: 0.4em;
}

ul {
    list-style: none;
    margin: auto;
    padding: 1em;
}

ul > li:before {
    content: attr(seq) ": ";
    font-weight: bold;
}

p {
    max-width: 72em;
    margin: auto;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: justify;
}

p.short_paragraph {
    text-align: center;
}

ol {
    list-style: none;
    margin: auto;
    padding-left: 3em;
    padding-right: 3em;
}

#titlebox {
    background-attachment: fixed;
    background-color: #000022;
    background-image: url("titlebg.jpg");
    background-position: center;
    background-size: cover;
    color: #ccccdd;
    margin: 0em;
    padding-bottom: 3em;
    padding-top: 3em;
}

.tocbox {
    background-attachment: fixed;
    background-color: #000022;
    background-image: url("tocbg.jpg");
    background-position: center;
    background-size: cover;
    color: #ccccdd;
    padding: 2em;
    text-align: center;
}

.box {
    padding-bottom: 2em;
    padding-top: 2em;
}

.linklist {
    font-size: 1em;
    text-align: center;
}
