$dark-bg: #101525;
$dark-fg: #d0e0e0;
$light-bg: #f8f8ff;
$light-fg: #202040;

* {
  font-size: 1rem;
}

html {
  font-size: max(12px, 2vh);

  background-color: $dark-bg;
  color: $dark-fg;

  @media (prefers-color-scheme: light) {
    background-color: $light-bg;
    color: $light-fg;
  }

  a {
    color: $dark-fg;

    @media (prefers-color-scheme: light) {
      color: $light-fg;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3, h3 a {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h1, p {
    text-align: center;
  }

  p.tagline {
    font-size: 1.1rem;
  }

  h1, img, main, p {
    display: block;
    margin: auto;
    max-width: 50rem;
    padding: 0.5rem;
  }
}

main {
  font-size: 1rem;

  address {
    margin: auto;
    text-align: center;
  }

  code {
    font-size: 0.8rem;
  }

  dt {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1rem;

    .period{
      text-indent: -1rem;
    }

    .period, .title {
      display: block;
    }

    .period, .title, .volume {
      font-weight: bold;
    }
  }

  img {
    filter: invert(1) brightness(0.8);
    max-width: 100%;
 
    @media (prefers-color-scheme: light) {
      filter: brightness(0.8);
    }
  }

  li.post {
    font-style: italic;

    a {
       font-style: normal;
    }
  }

  p {
    text-align: left;
  }

  p.abstract {
    border-bottom: 1px solid $dark-fg;
    border-top: 1px solid $dark-fg;
    font-style: normal;
    font-size: 1.1em;
    margin: 1rem;
    padding: 1rem;

    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-fg;
    }
  }

  p.description {
    font-style: italic;
    text-indent: 0.7rem;
    padding: 0.1rem;
  }

  pre {
    border: 1px dashed $dark-fg;
    margin: 1rem;
    padding: 0.7rem;
    overflow: scroll;

    @media (prefers-color-scheme: light) {
      border: 1px dashed $light-fg;
    }
  }
}
