{% assign degree = include.degree -%}
<span class="period">
  {% include year_range.html date=degree.date end_date=degree.end_date -%}
</span>
<span class="title">{{ degree.title }}</span>
{{ degree.university }} ({{ degree.location }}).
{% if degree.thesis %}
<details>
  <summary>
    Thesis:
    <a href="{{ degree.thesis.external_url }}" target="_blank">&ldquo;{{ degree.thesis.title }}&rdquo;</a>.
  </summary>
  Supervisor: {{ degree.thesis.supervisor }}.
</details>
{% endif %}
{% if degree.grant %}
<details>
  <summary>
    Grant: <a href="{{ degree.grant.external_url }}" target=" _blank">&ldquo;{{ degree.grant.project }}&rdquo;</a>.
  </summary>
  Agency: {{ degree.grant.agency}}.
  ({% include year_range.html date=degree.grant.date end_date=degree.grant.end_date -%})
</details>
{% endif %}
