
  {% for paper in include.papers %}
  <li>
  {% for author in paper.authors %}{{ author }}{% if forloop.last == false %}, {% endif %}{% endfor %}.
  &quot;<a href="{{ paper.url }}" target="_blank">{{ paper.title }}{% if paper.subtitle %}: {{ paper.subtitle }}{% endif %}</a>&quot;.
  {{ paper.journal }} <span class="volume">{{ paper.volume }}</span>, {{ paper.id }} ({{ paper.year }}).
  {% if paper.doi %}<a href="https://dx.doi.org/{{ paper.doi }}" target="_blank">[DOI:{{ paper.doi }}]</a>{% endif %}
  <a href="https://arxiv.org/abs/{{ paper.arxiv }}" target="_blank">[arXiv:{{ paper.arXiv }}]</a>
  </li>
  {% endfor %}
