{% assign paper = include.paper -%}
<span class="authors">{{ paper.authors | join: ", " }}.</span>
<a href="{{ paper.external_url }}" target="_blank">
  &ldquo;{{ paper.title }}{% if paper.subtitle %}: {{ paper.subtitle }}{% endif %}&rdquo;
</a>.
{{ paper.journal }} <span class="volume">{{ paper.volume }}</span>,
{{ paper.pages }} ({{ paper.date | date: '%Y' }}).
<span class="links">
  {% if paper.doi %}
  <a href="https://dx.doi.org/{{ paper.doi }}" target="_blank">DOI: {{ paper.doi }}</a>,
  {% endif %}
  <a href="https://arxiv.org/abs/{{ paper.arXiv }}" target="_blank">arXiv: {{ paper.arXiv }}</a>.
</span>
