@import "degrees";
@import "papers";

$font-size: 0.9em;

.masthead {
  background-color: $background-color;
  position: sticky;
  top: 0;
}

article.page {
  font-size: $font-size;
}

.page__content {

  address {
    padding: 0.3em;
    text-align: center;
  }

  p {
    font-size: rem;
    margin: auto;
    max-width: 56em;
    padding: 0.5em;
  }

  dl {
    margin: auto;
    margin-left: 1.5em;

    dt {
      font-size: $font-size;
      font-weight: normal;

      .title {
        font-weight: bold;
        display: block;
       }

      .period {
        margin-left: -1em;
        display: block;
      }

      details {
        margin-left: 0;
      }
    }

    dd {
      font-size: $font-size;
      margin-left: 0.5em;
      padding-bottom: 0.5em;

      p {
        margin-left: 0.2em;
        padding-top: 0;
      }
    }
  }

  details {
    font-size: $font-size;
    margin-left: 1.5em;

    @media print {
      display: none;
    }
  }
}
