body {
  background-color: #f4f0de;
  font-family: sans-serif;
  height: 100%;
  margin: 0pt;
}

h1 {
  font-variant: small-caps;
  font-size: 2.5em;
  padding: 0em;
  text-align: center;
}

h2 {
  font-variant: small-caps;
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
}

h3 {
  font-variant: small-caps;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
}

a, a:active, a:visited {
  color: #6060c5;
  text-decoration: none;
}

a.title {
  font-weight: bold;
}

div {
  margin: 0pt;
}

ul {
  list-style-type: none;
  font-size: 1em;
  margin: auto;
  padding: 1em;
}

.details {
  font-size: 0.8em;
  list-style-type: disc;
}

li:before {
  content: attr(seq);
  font-weight: bold;
  display: block;
  margin-left: -2em;
  margin-bottom: 0.25em;
}

li {
  display: block;
  max-width: 56em;
  text-align: justify;
  padding-bottom: 0.75em;
  margin-left: 2em;
  margin-right: 2em;
}

p {
  font-size: 1em;
  max-width: 56em;
  margin: auto;
  padding: 0.5em;
  text-align: left;
}

p:menu {
  text-align: center;
}

div.snippet {
  padding: 20em 0em 0em 0em;
}

#content {
  margin-top: 3em;
  padding-bottom: 1em;
  padding-top: 5em;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f4f0de;
}

.more {
  color: #2e2e2e;
  display: none;
  padding-top: 0;
}

.show-more {
  color: #6060c5;
  cursor: pointer;
}

.volume {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #060f12;
    color: #d0d0c8;
  }

  #header {
    background-color: #060f12;
  }

  a, a:active, a:visited, .show-more {
    color: #b0b0e8;
  }

  .more {
    color: #a8a8a0;
   }
}

