---
---
@import "degrees";
@import "papers";

$background-color: #f4f0de;
$background-color-dark: #060f12;
$link-color: #6060c5;
$link-color-dark: #b0b0e8;
$text-color: #f0f0f0;
$text-color-dark: #d0d0c8;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }
  @media print {
    background-color: none;
    font-family: serif;
    margin: 0.5in;
  }
}

header {
  background-color: $background-color;
  border-bottom: 2px solid $text-color;
  position: fixed;
  top: 0;
  width: 100%;
  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
    border-bottom: 2px solid $text-color-dark;
  }
  @media print {
    border-bottom: 2pt solid black;
    position: relative;
  }
}

main {
  align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  max-width: 60em;
  padding-bottom: 1em;
  padding-top: 4em;
  @media print {
    margin: 0;
    padding: 0;
  }
}

address {
  padding: 0.3em;
  text-align: center;

  &.links {
    @media print { display: none; }
  }
}

p {
  font-size: 1em;
  max-width: 56em;
  margin: auto;
  padding: 0.5em;
  text-align: left;
  &#summary {
    border-bottom: 1px solid $text-color;
    border-top: 1px solid $text-color;
    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $text-color-dark;
      border-top: 1px solid $text-color-dark;
    }
    @media print {
      border-bottom: 1pt solid black;
      border-top: 1pt solid black;
    }
  }
}

%heading {
  font-variant: small-caps;
  padding: 0;
  text-align: center;
  @media print {
    font-variant: normal;
    margin-bottom: 0;
  }
}

h1 {
  @extend %heading;
  font-size: 2.5em;
  @media print {
    font-size: 26pt;
  }
}

h2 {
  @extend %heading;
  font-size: 2em;
  @media print {
    font-size: 20pt;
  }
}

h3 {
  @extend %heading;
  font-size: 1.5em;
  @media print {
    font-size: 16pt;
  }
}

h4 {
  @extend %heading;
  font-size: 1.0e0m;
  @media print {
    font-size: 14pt;
  }
}

h5 {
  @extend %heading;
  font-size: 0.5em;
  @media print {
    font-size: 12pt;
  }
}

h6 {
  @extend %heading;
  font-size: 0.4em;
  @media print {
    font-size: 11pt;
  }
}

dl {
  font-size: 1em;
  margin: auto;
  margin-left: 1.5em;

  dt {
    font-weight: normal;

    .title {
      font-weight: bold;
      display: block;
     }

    .period {
      font-weight: bold;
      margin-left: -1em;
      display: block;
    }
  }

  dd {
    font-size: 0.9em;
    margin-left: 0.5em;
    padding-bottom: 0.5em;
  }
}

details {
  @media print {
    display: none;
  }
}

a, a:active, a:visited {
  color: $link-color;
  text-decoration: none;
  @media (prefers-color-scheme: dark) {
    color: $link-color-dark;
  }
  @media print {
    color: $text-color;
  }

  &.title {
    font-weight: bold;
  }
}
