---
---
@import "degrees";
@import "papers";

$background-color: #f4f0de;
$background-color-dark: #060f12;
$link-color: #6060c5;
$link-color-dark: #b0b0e8;
$text-color: #f0f0f0;
$text-color-dark: #d0d0c8;

body {
  background-color: $background-color;
  color: $text-color;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }
  @media print {
    background-color: none;
    margin: 0.5in;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $background-color;
  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
  }
  @media print {
    position: relative;
  }
}

article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  max-width: 60em;
  padding-bottom: 1em;
  padding-top: 5em;
  @media print {
    margin-top: 0;
    padding-top: 0;
  }
}

address {
  align: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

%heading {
  font-variant: small-caps;
  padding: 0em;
  text-align: center;
}

h1 {
  @extend %heading;
  font-size: 2.5em;
}

h2 {
  @extend %heading;
  font-size: 2em;
}

h3 {
  @extend %heading;
  font-size: 1.5em;
}

h4 {
  @extend %heading;
  font-size: 1.0em;
}

h5 {
  @extend %heading;
  font-size: 0.5em;
}

a, a:active, a:visited {
  color: $link-color;
  text-decoration: none;
  @media (prefers-color-scheme: dark) {
    color: $link-color-dark;
  }
  @media print {
    color: $text-color;
  }
}

a.title {
  font-weight: bold;
}

div {
  margin: 0pt;
}

ul {
  list-style-type: none;
  font-size: 1em;
  margin: auto;
  padding: 1em;
}

.details {
  font-size: 0.9em;
  list-style-type: disc;
  padding-left: 0.5em;
  margin: 0;
}

ul {
  li:before {
    content: attr(seq);
    font-weight: bold;
    display: block;
    margin-left: -2em;
    margin-bottom: 0.25em;
  }

  li {
    display: block;
    max-width: 56em;
    text-align: justify;
    padding-bottom: 0.75em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

p {
  font-size: 1em;
  max-width: 56em;
  margin: auto;
  padding: 0.5em;
  text-align: left;
}

div.snippet {
  padding: 20em 0em 0em 0em;
}

a.title {
  font-variant: italic;
}

@media print {
  hr {
    width: 75%;
    size: 1px;
  }
}
