{% extends "default.jinja2" %}

{% block contact %}
<address>
{%- for data in contact.contacts %}
{{ data.type }}: <a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{% endfor -%}
</address>

<h2>Links</h2>
<ul class="links">
{%- for data in contact.links %}
<li>
  <a href="{{data.external_url}}" target="_blank" style="padding-right: 1em;">{{data.title}}</a>
</li>
{% endfor -%}
</ul>
{% endblock %}
