---
layout: default
---

<address>
{% for data in site.data.contact %}
{{ data.type }}: <a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{% endfor %}
</address>

<address class="links">
{% for data in site.data.links %}
<a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{%- unless forloop.last %} | {% endunless -%}
{% endfor %}
</address>

<p id="summary">
{%- include summary.html -%}
</p>

<h2>Professional experience</h2>
{% assign jobs = page.jobs -%}
<dl>
{% for job in jobs -%}
  <dt>
    <span class="period">{%- include year_range.html date=job.start end_date=job.end -%}</span>
    <span class="title">{{ job.title }}</span>
    {{ job.employer }} ({{ job.location }}).
  </dt>
  <dd>
    <ul>
      {% for duty in job.duties %}
      <li>{{ duty }}</li>
      {% endfor %}
    </ul>
  </dd>
{%- endfor %}
</dl>

<h2>Education</h2>
{% assign degrees = site.degrees | reverse %}
<dl>
{% for degree in degrees -%}
  <dt>
    {% include degree.html degree=degree %}
  </dt>
  <dd>
    {{ degree.content | summary | markdownify }}
  </dd>
{%- endfor %}
</dl>

<h2>Selected papers</h2>
{% assign papers = site.papers | reverse %}
<dl>
{% for paper in papers -%}
{%- if paper.citations.size >= 3 -%}
  <dt>
    {% include paper.html paper=paper %}
  </dt>
  <dd>
    {{ paper.content | summary | markdownify }}
  </dd>
{%- endif -%}
{%- endfor %}
</dl>
<details>
  <summary>More papers</summary>
  <ul>
  {% for paper in papers -%}
    {%- if paper.citations.size < 3 %}
    <li>{% include paper.html paper=paper %}</li>
    {%- endif %}
    {%- unless paper.citations %}
    <li>{% include paper.html paper=paper %}</li>
    {%- endunless %}
  {%- endfor %}
  </ul>
</details>

<h2>Conference talks</h2>
<dl>
{% assign events = site.events | reverse %}
{% for event in events %}
  {% if event.talk %}
  <dt>
    {% include talk.html event=event %}
  </dt>
  <dd>
    {{ event.content | summary | markdownify }}
  </dd>
  {% endif %}
{% endfor %}
</dl>
<details>
  <summary>Conference posters</summary>
  <ul>
  {% for event in events -%}
    {%- if event.poster %}
    <li>{% include poster.html poster=poster %}</li>
    {%- endif %}
  {%- endfor %}
  </ul>
</details>

