---
layout: default
---

{{ content }}

<script>
function showMore(name) {
  extraText = document.getElementById("extra" + name);
  button = document.getElementById("button" + name);
  button.style.display = "none";
  extraText.style.display = "block";
}
</script>

{%- if site.data.jobs -%}
<h3>Professional experience</h3>
{%- include dated_list.html list=site.data.jobs -%}
{%- endif -%}

{%- if site.data.degrees -%}
<h3>Education</h3>
{%- include dated_list.html list=site.data.degrees -%}
{%- endif -%}

{%- assign published_papers=site.data.papers | where_exp: "papers", "papers.publication" -%}
{%- if published_papers -%}
<h3>Papers published</h3>
{%- include plain_list.html list=published_papers name="papers" -%}
{%- endif -%}

<h2 id="buttoncv" onclick="showMore('cv');" class="show-more">Show more &#9660;</h2>
<div id="extracv" class="more">

{%- if site.data.reviews -%}
{%- assign reviews = site.data.reviews -%}
<h3>Reviews</h3>
{%- include topical_list.html list=reviews -%}
{%- endif -%}

{%- if site.data.funding -%}
{%- assign grants = site.data.funding -%}
<h3>Research grants</h3>
{%- include dated_list.html list=site.data.funding -%}
{%- endif -%}

{%- assign conference_talks = site.data.talks | where_exp: "talk", "talk.conference" -%}
{%- if conference_talks -%}
<h3>Talks in conferences</h3>
{%- include plain_list.html list=conference_talks name="talks" -%}
{%- endif -%}

{%- assign conference_posters = site.data.posters | where_exp: "poster", "poster.conference" -%}
{%- if conference_posters  -%}
<h3>Posters presented in conferences</h3>
{%- include plain_list.html list=conference_posters name="posters" -%}
{%- endif -%}
</div>
