---
layout: default
---

<address>
{% for data in site.data.contact %}
{{ data.type }}: <a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{% endfor %}
</address>

<address class="links">
{% for data in site.data.links %}
<a href="{{data.external_url}}" target="_blank">{{data.title}}</a>
{%- unless forloop.last %} | {% endunless -%}
{% endfor %}
</address>

<p id="summary">
{%- include summary.html -%}
</p>

<h2>Professional experience</h2>
{% assign jobs = page.jobs -%}
<dl>
{% for job in jobs -%}
  <dt>
    <span class="period">{%- include year_range.html date=job.start end_date=job.end -%}</span>
    <span class="title">{{ job.title }}</span>
    {{ job.employer }} ({{ job.location }}).
  </dt>
  <dd>
    <ul>
      {% for duty in job.duties %}<li>{{ duty }}</li>{% endfor %}
    </ul>
  </dd>
{%- endfor %}
</dl>

<h2>Education</h2>
{% assign degrees = page.degrees %}
<dl>
{% for degree in degrees %}
  <dt>
    <span class="period">
      {% include year_range.html date=degree.start end_date=degree.end -%}
    </span>
    <span class="title">{{ degree.title }}</span>
    {{ degree.university }} ({{ degree.location }}).
    {% if degree.thesis %}
    <details>
       <summary>
        Thesis:
        <a href="{{ degree.thesis.external_url }}" target="_blank">&ldquo;{{ degree.thesis.title }}&rdquo;</a>.
      </summary>
      Supervisor: {{ degree.thesis.supervisor }}.
    </details>
    {% endif %}
    {% if degree.grant %}
    <details>
      <summary>
        Grant: <a href="{{ degree.grant.external_url }}" target=" _blank">&ldquo;{{ degree.grant.project }}&rdquo;</a>.
      </summary>
      Agency: {{ degree.grant.agency }}.
      ({% include year_range.html date=degree.grant.start end_date=degree.grant.end -%})
    </details>
    {% endif %}
  <dt>
  <dd>
    <ul>
    {% for duty in degree.duties %}<li>{{ duty }}</li>{% endfor %}
    </ul>
  </dd>
{% endfor %}
</dl>

<h2>Selected papers</h2>
{% assign papers = page.papers %}
<dl>
{% for paper in papers limit: 5 -%}
  <dt>
    <span class="authors">{{ paper.authors | join: ", " }}.</span>
    <a href="{{ paper.url }}" target="_blank">
       &ldquo;{{ paper.title }}{% if paper.subtitle %}: {{ paper.subtitle }}{% endif %}&rdquo;
    </a>.
    {{ paper.journal }} <span class="volume">{{ paper.volume }}</span>,
    {{ paper.pages }} ({{ paper.year }}).
    <span class="links">
    {% if paper.doi %}
      <a href="https://dx.doi.org/{{ paper.doi }}" target="_blank">DOI: {{ paper.doi }}</a>,
    {% endif %}
      <a href="https://arxiv.org/abs/{{ paper.arXiv }}" target="_blank">arXiv: {{ paper.arXiv }}</a>.
    </span>
  </dt>
  <dd>
    <p>{{ paper.description }}</p>
  </dd>
{%- endfor %}
</dl>
<details>
  <summary>More papers</summary>
  <ul>
  {% for paper in papers offset: 5 -%}
    <li>
      <span class="authors">{{ paper.authors | join: ", " }}.</span>
      <a href="{{ paper.url }}" target="_blank">
         &ldquo;{{ paper.title }}{% if paper.subtitle %}: {{ paper.subtitle }}{% endif %}&rdquo;
      </a>.
      {{ paper.journal }} <span class="volume">{{ paper.volume }}</span>,
      {{ paper.pages }} ({{ paper.year }}).
      <span class="links">
      {% if paper.doi %}
        <a href="https://dx.doi.org/{{ paper.doi }}" target="_blank">DOI: {{ paper.doi }}</a>,
      {% endif %}
        <a href="https://arxiv.org/abs/{{ paper.arXiv }}" target="_blank">arXiv: {{ paper.arXiv }}</a>.
      </span>
    </li>
  {%- endfor %}
  </ul>
</details>

<h2>Conference talks</h2>
<dl>
{% assign events = page.conferences %}
{% for event in events %}
  {% if event.talk %}
  <dt>
    <span class="authors">{{ event.talk.authors | join: ", " }}.</span>
    &quot;{{ event.talk.title }}&quot;.
    {{ event.name }} {{ event.year }} ({{ event.location }}).
  </dt>
  <dd>
    <p>{{ event.talk.description }}</p>
  </dd>
  {% endif %}
{% endfor %}
</dl>
<details>
  <summary>Conference posters</summary>
  <ul>
  {% for event in events -%}
    {%- if event.poster %}
    <li>
      <span class="authors">{{ event.poster.authors | join: ", " }}.</span>
      &quot;{{ event.poster.title }}&quot;.
      {{ event.name }} {{ event.year }} ({{ event.location }}).
    </li>
    {%- endif %}
  {%- endfor %}
  </ul>
</details>

