<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <meta name="viewport" content="width:650, initial-scale: 0.615">
</head>

<body>
<header>
  <h1 id="titleh1">{{ page.title }}</h1>
</header>

<script>
  header = document.getElementById("header");
  h1 = document.getElementById("titleh1");
  menu = document.getElementById("menu");
  originalHeaderFontSize = 2.5;
  originalMenuFontSize = 1;

  function resizeEverything() {
    scrollPosition = window.pageYOffset;
    fontSizePenalty = Math.max(1 - scrollPosition * 0.0005, 0.6);

    h1.style.fontSize = (originalHeaderFontSize * fontSizePenalty) + "em";
    menu.style.fontSize = Math.max(originalMenuFontSize * fontSizePenalty, 0.8) + "em";
  }

  window.onscroll = resizeEverything;
</script>


<main>
{{ content }}
</main>

<script>
  const authors = document.getElementsByClassName("authors");
  const leo = "Leonardo Andreta de Castro"

  for (var i = 0; i < authors.length; i++) {
    var originalText = authors[i].innerHTML;
    authors[i].innerHTML = originalText.replace(leo, leo.bold());
  }
</script>
</body>

</html>
